#Ignore these directories
adrenalin
backup
wp-content/envato-backups
wp-content/uploads
wp-content/upgrade

#Ignore these files
client-order.zip
myImmoPixDB_bu.sql.tar.gz
order-70172.zip
order-70600.zip
live_dump.zip
wp-config.php


# databases
*.sql
