/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */

$assets-path: '../..';
/* Import to basic elements created for site */


/**
 * Top Header
 */
.logoslogan {
  color: #676767;
  font-size: 14px;
  font-weight: bold;
}
.cg-logo-cart-wrap {
  .logo.image {
    height: auto;
    img {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .homemenu {
    margin-top: 0;
  }
}
.cg-header-search {
  .login-area {
    margin-top: 35px;
    .fleft {
      margin-top: -17px;
      margin-right: 20px;
    }
    .logincls {
      margin-right: 1px;
    }
  }
  .seactbox {
    margin-right: 0;
  }
}
.login-area {
  .signupcls,
  .logincls {
    background: none;
    div {
      margin: 0;
      a {
        display: inline-block;
        padding: 6px 15px;
        border: 1px solid $blue-font;
        background-color: $white;
        color: $blue-font;
        font-size: 14px;
        &:hover,
        &:focus {
          background-color: $blue-font;
          color: $white;
        }
      }
    }
  }
}
/* End */

/* Fixed header */
.cg-header-fixed-wrapper.cg-is-fixed {
  .logo.image {
    height: 70px;
    a {
      display: inline-block;
      padding-top: 5px;
    }
  }
  .homemenu {
    .menu-home-menus-container {
      float: right;
    }
  }
  .menu {
    li {
      &:nth-child(5),
      &:nth-child(6) {
        a {
          color: #DF440B !important;
          &:hover,
          &:focus {
            color: #333 !important;
          }
        }
      }
    }
  }
}

/* Menu */
.cg-menu-below {
  height: auto !important;
  .menu {
    li {
      &:nth-child(5),
      &:nth-child(6) {
        a {
          color: #DF440B;
          &:hover,
          &:focus {
            color: $blue !important;
          }
        }
      }
    }
  }
}
