/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */

$assets-path: '../..';
/* Import to basic elements creat ed for site */


/**
 * Top Header
 */
.logoslogan {
  color: #676767;
  font-size: 14px;
  font-weight: bold;
}
.cg-logo-cart-wrap {
  .logo.image {
    height: auto;
    img {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .homemenu {
    margin-top: 0;
  }
}
.cg-header-search {
  .login-area {
    margin-top: 33px;
    .fleft {
      margin-top: -17px;
      margin-right: 15px;
    }
    .logincls {
      margin-right: 1px;
    }
  }
  .seactbox {
    margin-top: 19px;
    margin-right: 0;
    .btn-group {
      .dropdown-menu {
        padding: 0;
        ul {
          max-width: 200px;
          padding: 0 15px;
          li {
            &:nth-child(3),
            &:nth-child(5) {
              margin: 0 0 5px;
              padding: 0 0 5px;
              border-bottom: 2px solid #666;
            }
            a {
              width: calc(100% + 30px);
              margin-left: -15px;
              padding: 7px 15px;
              font-size: 14px;
              word-wrap: break-word;
              white-space: normal;
              &::before {
                display: inline-block;
                height: 13px;
                width: 13px;
                margin: 0 5px -2px 0;
                background-image: url('../images/user-icon.png');
                background-position: left center;
                background-repeat: no-repeat;
                background-size: 100%;
                content: '';
              }
              span {
                display: inline-block;
                width: -moz-calc(100% - 20px);
                width: -webkit-calc(100% - 20px);
                width: calc(100% - 20px);
                padding: 0 0 0 5px;
                vertical-align: top;
              }
            }
            &:nth-child(2) {
              a::before {
                background-image: url('../images/dollar-icon.png');
              }
            }
            &:nth-child(3) {
              a::before {
                background-image: url('../images/setting-icon.png');
              }
            }
            &:nth-child(4) {
              a::before {
                background-image: url('../images/upload-icon.png');
              }
            }
            &:nth-child(5) {
              a::before {
                background-image: url('../images/file-icon.png');
              }
            }
            &:nth-child(6) {
              a::before {
                background-image: url('../images/contact-icon.png');
              }
            }
            &:nth-child(7) {
              a::before {
                background-image: url('../images/logout-icon.png');
              }
            }
          }
        }
      }
      .dropdown-toggle {
        .filter-option {
          padding-right: 5px;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
.login-area {
  .signupcls,
  .logincls {
    background: none;
    div {
      margin: 0;
      a {
        display: inline-block;
        padding: 6px 15px;
        border: 1px solid $blue-font;
        background-color: $white;
        color: $blue-font;
        font-size: 14px;
        line-height: 20px;
        &:hover,
        &:focus {
          background-color: $blue-font;
          color: $white !important;
        }
      }
    }
  }
}
/* End */

/* Fixed header */
.cg-header-fixed-wrapper.cg-is-fixed {
  .logo.image {
    height: 70px;
    a {
      display: inline-block;
      padding-top: 5px;
    }
  }
  .homemenu {
    .menu-home-menus-container {
      float: right;
    }
  }
  .menu {
    li {
      &:nth-child(5),
      &:nth-child(6) {
        a {
          color: #DF440B !important;
          &:hover,
          &:focus {
            color: #333 !important;
          }
        }
      }
    }
  }
}

/* Menu */
.cg-menu-below {
  height: auto !important;
  .menu {
    li {
      &:nth-child(5),
      &:nth-child(6) {
        a {
          color: #DF440B;
          &:hover,
          &:focus {
            color: $blue !important;
          }
        }
      }
    }
  }
  @media screen and (max-width:1100px) {
    .mean-container {
      .mean-bar {
        display: none;
      }
    }
    .cg-logo-cart-wrap {
      .logo {
        float: left;
        img {
          max-width: 200px !important;
          padding: 0 !important;
        }
      }
    }
  } /* 1100 */
}

@media screen and (max-width:$small-desktop) {
  .homemenu {
    display: inline-block;
    width: 100%;
    .menu-home-menus-container,
    .menu-home-menus-for-inner-pages-container {
      margin: 0;
    }
  }
}

@media screen and (max-width:$ipad-portrait) {
  .cg-header-search {
    .seactbox {
      .bootstrap-select {
        width: 204px !important;
      }
    }
  }
  .cg-wp-menu-wrapper {
    .col-lg-4 {
      z-index: 1;
    }
  }
}

@media screen and (max-width:$mobile-landscape) {
  .cg-header-search {
    .login-area {
      a {
        .btn {
          padding: 6px 10px;
        }
      }
      .logincls,
      .signupcls {
        div {
          a {
            padding: 6px 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:$mobile) {
  .homemenu {
    .menu {
      display: none;
    }
    .menu-home-menus-container,
    .menu-home-menus-for-inner-pages-container {
      display: inline-block;
      width: 100%;
      .menu-navbtn {
        display: block;
        height: 22px;
        width: 30px;
        color: red;
        font-size: 1px;
        line-height: 22px;
        text-decoration: none;
        cursor: pointer;
        span {
          display: block;
          height: 2px;
          margin-top: 4px;
          background: #666;
        }
      }
      #menu-home-menus-for-inner-pages,
      #menu-footer-links-company {
        width: 100%;
        li {
          display: inline-block;
          width: 100%;
          margin: 0;
          a {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }
}
