/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 */


input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea {
  @include box-shadow(none);
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus {
  /*border-color: $gray;*/
  /*@include box-shadow(0 0 5px #999);*/
}

.checkbox label {
  padding: 0;
}
/* Button design */
.btn-danger {
  background-color: $red;
  &:hover,
  &:focus {
    background-color: $red-hover;
  }
}
/*.btn,
.button {
  &:hover,
  &:focus {
  }
}*/
/* End */
/* Link hover effect */
.mainlink {
  a {
    color: $red-dark;
    &:hover,
    &:focus {
      color: $black-light;
    }
  }
}
/* Error message design */
.cg-wc-messages {
  .container {
    max-width: 100%;
    padding: 0;
    .woocommerce-error {
      margin: 0;
    }
    .woocommerce-message {
      &::before {
        padding: 0 5px 0 15px;
      }
    }
  }
}
#twocheckout_error_creditcard {
  li {
    margin-left: 35px;
  }
}
/* End */


/* Radio button design */
.radiotxt {
  margin-bottom: 30px;
  label {
    margin-bottom: 7px;
    line-height: normal;
    vertical-align: top;
    cursor: pointer;
  }
  > span {
    margin-top: -4px;
    line-height: normal;
    vertical-align: top;
  }
}

input[type="radio"] {
  display: none;
  cursor: pointer;
  opacity: 0;
}
input[type="radio"] + .input-rc-span,
input[type="radio"] + label {
  &::before {
    float: left;
    display: inline-block;
    height: 18px;
    width: 19px;
    margin: 0 5px -5px 0;
    background: url('../images/radio.png');
    background-repeat: no-repeat;
    cursor: pointer;
    content: '';
  }
}
input[type="radio"]:checked + .input-rc-span,
input[type="radio"]:checked + label {
  &::before {
    background: url('../images/radio-checked.png');
  }
}

/* End */

/* Checkbox design */
.input-rc {
  display: inline-block;
  input[type="checkbox"] {
    display: block;
    margin: 0 0 -15px;
    cursor: pointer;
    opacity: 0;
  }
  input[type="checkbox"] + .input-rc-span {
    float: left;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px -2px 0;
    background: url('../images/black-squre.png');
    background-repeat: no-repeat;
    cursor: pointer;
    content: '';
  }
  input[type="checkbox"]:checked + .input-rc-span {
    background: url('../images/black-check-squre.png');
    background-repeat: no-repeat;
  }
}

/* End */

/* Login form */
form.login,
.register {
  max-width: 330px;
  margin-top: 0;
  padding: 5px 12px;
  border: 1px solid $gray;
  .form-row {
    input.input-text {
      min-height: 40px;
      @include border-radius(3px);
    }
    input.button {
      min-height: 48px;
      width: 100% !important;
      border: none;
      -moz-border-radius: 3px !important;
      -webkit-border-radius: 3px !important;
      border-radius: 3px !important;
      background-color: $red-dark;
      color: $white;
    }
  }
  .myaccount_login_form {
    label {
      display: inline-block;
    }
    a.myaccount_form_lost_password {
      float: right;
      font-weight: bold;
      &:hover,
      &:focus {
        color: $black-light;
        text-decoration: none;
      }
    }
  }
}
/* End */

/* Login & Sign up pop up */
.lwa-modal {
  z-index: 99999;
  width: 450px;
  background-color: #FFF;
  .lwa-form,
  .lwa-remember {
    background-color: #FFF;
    table {
      tr {
        margin-bottom: 10px;
        &.lwa-password {
          margin-bottom: -15px;
        }
      }
      tr,
      td {
        display: inline-block;
        width: 100%;
        padding: 0;
        label {
          margin-bottom: 0;
        }
        input {
          width: 100%;
          @include border-radius(4px);
        }
      }
      .lwa-remember-email {
        label {
          display: inline-block;
          width: 100%;
        }
      }
    }
    .lwa-wp-submit,
    input[type='submit'],
    .lwa-links-remember-cancel {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;
      background-color: $red-dark;
      &:hover {
        background-color: $red-hover;
        text-decoration: none;
      }
    }
    .lwa-links {
      input {
        width: auto;
      }
      a {
        float: right;
        margin: -22px 0 0;
        color: $red-dark;
        /*font-size: 13px;*/
        font-weight: normal;
        &:hover,
        &:focus {
          color: #333;
          text-decoration: none;
        }
      }
      label {
        /*font-size: 13px;*/
      }
    }
    .lwa-links-remember-cancel {
      padding: 10px;
      color: $white;
      text-align: center;
      @include border-radius(4px);
    }
  }
  .lwa-modal-close {
    &:hover {
      text-decoration: none;
    }
  }
}

/* ordered succesfully popup */
.modal-header {
  min-height: 40px;
  button.close {
    margin-top: -10px;
    color: #AAA;
    font-size: 30px;
    opacity: 1;
    &:hover ,
    &:focus {
      color: #AAA;
      opacity: 1;
    }
  }
}
.modal-footer {
  .btn {
    background-color: $blue;
    &:hover {
      background-color: $blue-hover;
      color: $white;
    }
  }
}
