/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 */


input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea {
  @include box-shadow(none);
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus {
  /*border-color: $gray;*/
  /*@include box-shadow(0 0 5px #999);*/
}

.checkbox label {
  padding: 0;
}

.btn,
.button {
  &:hover,
  &:focus {
    opacity: .7;
  }
}
/* Link hover effect */
.mainlink {
  a {
    color: $red-dark;
    &:hover,
    &:focus {
      color: $black-light;
    }
  }
}

/* Error message design */
.cg-wc-messages {
  .container {
    max-width: 100%;
    padding: 0;
    .woocommerce-error {
      margin: 0;
    }
  }
}
/* End */


/* Radio button design */
.radiotxt {
  margin-bottom: 30px;
  input[type="radio"] {
    margin-top: -10px;
    vertical-align: top;
    cursor: pointer;
    opacity: 0;
  }
  input[type="radio"] + label {
    &::before {
      float: left;
      display: inline-block;
      height: 18px;
      width: 19px;
      margin: 7px 5px 0 -3px;
      background: url('../images/radio.png');
      background-repeat: no-repeat;
      /*cursor: pointer;*/
      content: '';
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      background: url('../images/radio-checked.png');
    }
  }
  label {
    width: 160px;
    margin-top: -40px;
    margin-left: 0;
  }
}
/* End */

/* Login form */
form.login,
.register {
  max-width: 330px;
  margin-top: 0;
  padding: 5px 12px;
  border: 1px solid $gray;
  .form-row {
    input.input-text {
      min-height: 40px;
      @include border-radius(3px);
    }
    input.button {
      min-height: 48px;
      width: 100% !important;
      -moz-border-radius: 3px !important;
      -webkit-border-radius: 3px !important;
      border-radius: 3px !important;
    }
  }
  .myaccount_login_form {
    label {
      display: inline-block;
    }
    a.myaccount_form_lost_password {
      float: right;
    }
  }
}
/* End */

/* Login & Sign up pop up */
.lwa-modal {
  z-index: 99999;
  background-color: #FFF;
    /*@include transition (all 0s ease 0s);*/
  .lwa-form {
    background-color: #FFF;
    .lwa-wp-submit {
      background-color: $red;
    }
  }
}
