/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */


/* Import of variables created for site */
@import 'globals/variable';
@import 'globals/header';
@import 'globals/sidebar';
@import 'globals/footer';
@import 'components/fonts';
@import 'layout/forms';


/**
 * Common code
 */

a {
  /*color: $blue-font;*/
  outline: none;
  &:focus { outline: none; }
}
.btn {
  &:focus { outline: none; }
}

.p0 { padding: 0; }
.m0 { margin: 0; }

/* Typography */
.blue-text { color: $blue-font; }
/* End */


/**
 * video
 */

video {
  position: relative;
  min-height: 277px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  source {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* End */


/**
 * Main content area
 */
.entry-content .clsexamp {
  margin-left: 0;
  padding: 0;
}
.entry-content .exampimage {
  margin-left: 0;
}
.cg-is-fixed .homemenu .menu-home-menus-container ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.tour-area h4 {
  margin-top: 0;
}

/* example blog */
.entry-content {
  .bxslider {
    margin: 0;
    li {
      margin: 0;
    }
  }
}
.mbx-pager {
  ul.bx_pager_ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    li {
      float: left;
      width: calc(25% - 5px);
      margin: 0 0 5px 5px;
      padding: 0;
      border: none;
      /*&:nth-child(4n) {
        margin-right: 0;
      }*/
      &:nth-child(4n + 1) {
        clear: left;
      }
    }
  }
}
/* End */

/* Price section */
.top-blog {
  padding-top: 60px;
}
.title-price {
  h6 {
    text-align: center;
  }
}

/* Service */
.service-area {
  ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      height: auto;
      padding: 30px 0 50px;
      &:last-child {
        margin-right: 0;
      }
      img {
        margin-bottom: 40px;
      }
    }
  }
}

/* iocnlogo section  */
.iocnlogo ul li:first-child {
  margin-left: 0;
}

/* Checkout page */
.woocommerce-page {
  .content-area {
    form {
      h3 {
        margin-top: 10px;
        border-color: $red-dark;
      }
    }
  }
  .order-wrap {
    margin-top: 10px;
  }
}

/* Login-signup */
.signupcls,
.logincls {
  #nav_menu-3 {
    ul {
      li {
        a:hover {
          color: #FFF !important;
        }
      }
    }
  }
  ul {
    display: inline-block;
    padding: 0;
    line-height: normal;
    vertical-align: top;
    list-style: none;
    li {
      display: inline-block;
      line-height: normal;
      vertical-align: top;
      a {
        height: auto;
        line-height: normal;
        &:hover {
          color: #FFF !important;
        }
      }
    }
  }
}
/* End */

.entry-meta {
  padding: 0;
  .edit-link {
    a.post-edit-link {
      display: none;
    }
  }
}

/* Upload photo page */
.topmargin-upload {
  .nextclass {
    .btn {
      min-height: 42px;
      min-width: 156px;
      margin-top: 13px;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .container {
    .wpb_row {
      margin-bottom: 0 !important;
    }
  }
  .mythumb {
    .mythumb_cls {
      display: inline-block;
      width: 100%;
      li {
        img {
          max-width: 150px;
        }
      }
    }
  }
}
.topmargin-price {
  margin-top: 30px;
  .mbgcolr1 {
    .topmargin4 {
      margin-top: 52px;
      text-align: center;
      .orr {
        padding: 0;
      }
    }
  }
  #secondary {
    margin: 0;
    .togocls {
      width: 100%;
      margin: 20px 0 10px;
      padding: 0;
    }
    .ready {
      margin: 0 0 10px;
      .topmargin {
        margin: 0;
        .btn {
          padding: 5px 10px;
          border: 1px solid $red-dark;
        }
      }
    }
  }
}
/* End */
li.ba-slider {
  padding-right: 0 !important;
}
body .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 47%;
  width: 3px;
  margin-left: -2px;
  background: #FFF;
  cursor: ew-resize;
  &::after {
    position: absolute;
    top: 50%;
    left: -25px;
    height: 51px;
    width: 51px;
    margin: 0;
    background-image: url('../images/handler-icon.png');
    content: '';
  }
}
body .exampimage .handle {
  &::after {
    top: 55%;
  }
}
.home_exmple_before,
.home_exmple_after {
  position: absolute;
  top: 0;
  margin: 3px 5px;
  color: #666;
  font-size: 22px;
  text-transform: capitalize;
}
.home_exmple_before {
  left: 0;
}
.home_exmple_after {
  right: 0;
  margin-right: 7px;
}

/* Cart page */
#text-12 {
  width: 100%;
}
