/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */


/* Import of variables created for site */
@import 'globals/variable';
@import 'globals/header';
@import 'globals/sidebar';
@import 'globals/footer';
@import 'components/fonts';
@import 'layout/forms';


/**
 * Common code
 */

a {
  /*color: $blue-font;*/
  outline: none;
  &:focus { outline: none; }
}
.btn {
  &:focus { outline: none; }
}

.p0 { padding: 0; }
.m0 { margin: 0; }

/* Typography */
.blue-text { color: $blue-font; }
/* End */


/**
 * video
 */

video {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  source {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* End */


/**
 * Main content area
 */

.entry-content .clsexamp {
  margin-left: 0;
  padding: 0;
}
.entry-content .exampimage {
  margin-left: 0;
}

.cg-is-fixed .homemenu .menu-home-menus-container ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.tour-area h4 {
  margin-top: 0;
}

/* example blog */
.entry-content {
  .bxslider {
    margin: 0;
    li {
      margin: 0;
    }
  }
}
.mbx-pager {
  ul.bx_pager_ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    li {
      float: left;
      width: 24%;
      margin: 0 1.3% 5px 0;
      padding: 0;
      border: none;
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-child(4n + 1) {
        clear: left;
      }
    }
  }
}
/* End */

/* Price section */
.title-price {
  h6 {
    text-align: center;
  }
}

/* Service */
.service-area {
  ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* iocnlogo section  */
.iocnlogo ul li:first-child {
  margin-left: 0;
}

/* Checkout page */
.woocommerce-page .content-area form h3 {
  border-color: $red-dark;
}

.lwa-modal {
  background-color: #FFF;
    /*@include transition (all 0s ease 0s);*/
  .lwa-form {
    background-color: #FFF;
  }
}

/* Login-signup */
.signupcls,
.logincls {
  ul {
    display: inline-block;
    padding: 0;
    line-height: normal;
    vertical-align: top;
    list-style: none;
    li {
      display: inline-block;
      line-height: normal;
      vertical-align: top;
      a {
        height: auto;
        line-height: normal;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
}
/* End */
