/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */


/* Import of variables created for site */
@import 'globals/variable';
@import 'globals/header';
@import 'globals/sidebar';
@import 'globals/footer';
@import 'components/fonts';
@import 'layout/forms';


/**
 * Common code
 */
body {
  /*font-family: $verdana-light;*/
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
a {
  /*font-family: $verdana-light;*/
  font-family: Verdana,Geneva,sans-serif;
}

a {
  /*color: $blue-font;*/
  outline: none;
  &:focus { outline: none; }
}
.btn {
  &:focus { outline: none; }
}

.p0 { padding: 0; }
.m0 { margin: 0; }

/* Typography */
.blue-text { color: $blue-font; }
/* End */


/**
 * video
 */

video {
  position: relative;
  min-height: 277px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  source {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* End */


/**
 * Main content area
 */
.entry-content .clsexamp {
  margin-left: 0;
  padding: 0;
  font-size: 30px;
}
.entry-content .exampimage {
  margin-left: 0;
}
.cg-is-fixed .homemenu .menu-home-menus-container ul li:last-child,
.cg-is-fixed .homemenu .menu-home-menus-for-inner-pages-container ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.tour-area h4 {
  margin-top: 0;
}

/* example blog */
.entry-content {
  .bxslider {
    margin: 0;
    li {
      margin: 0;
    }
  }
}
.mbx-pager {
  ul.bx_pager_ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    li {
      float: left;
      width: -moz-calc(25% - 5px);
      width: -webkit-calc(25% - 5px);
      width: calc(25% - 5px);
      /*width: 195px;*/
      margin: 0 0 5px 5px;
      padding: 0;
      border: none;
      &:nth-child(4n + 1) {
        clear: left;
      }
    }
  }
}

li.ba-slider {
  padding-right: 0 !important;
}
body .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 47%;
  width: 3px;
  margin-left: -2px;
  background: #FFF;
  cursor: ew-resize;
  &::after {
    position: absolute;
    top: 50%;
    left: -25px;
    height: 51px;
    width: 51px;
    margin: 0;
    background-image: url('../images/handler-icon.png');
    content: '';
  }
}
body .exampimage .handle {
  &::after {
    top: 55%;
  }
}
.home_exmple_before,
.home_exmple_after {
  position: absolute;
  top: 0;
  margin: 3px 5px;
  color: #666;
  font-size: 22px;
  text-transform: capitalize;
}
.home_exmple_before {
  left: 0;
}
.home_exmple_after {
  right: 0;
  margin-right: 7px;
}


/* End */

/* Price section */
.top-blog {
  padding-top: 60px;
  h6 {
    /*padding-left: 32px;*/
    padding-left: 5px;
  }
}
.title-price {
  h6 {
    text-align: center;
  }
}

/* Service */
.service-area {
  ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      min-height: 370px;
      height: auto;
      padding: 30px 0 50px;
      vertical-align: top;
      &:last-child {
        margin-right: 0;
      }
      img {
        margin-bottom: 40px;
      }
    }
  }
}

/* iocnlogo section  */
.iocnlogo {
  text-align: center;
  .home_brand_parent {
    display: inline-block;
    width: auto;
    .home_brand_section {
      float: left;
      display: inline-block;
      max-width: 428px;
      width: -moz-calc(50% - 17px);
      width: -webkit-calc(50% - 17px);
      width: calc(50% - 17px);
      margin-right: 34px;
      &:last-child {
        margin-right: 0;
      }
      li {
        float: left;
        width: -moz-calc(50% - 5px);
        width: -webkit-calc(50% - 5px);
        width: calc(50% - 5px);
        margin: 0 10px 10px 0;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}

/* Checkout page */
.woocommerce-page {
  .content-area {
    form {
      h3 {
        margin-top: 10px;
        border-color: $red-dark;
        color: $red-dark;
      }
    }
  }
  .order-wrap {
    margin-top: 10px;
  }
}

/* Login-signup */
.signupcls,
.logincls {
  #nav_menu-3 {
    ul {
      li {
        a:hover {
          color: #FFF !important;
        }
      }
    }
  }
  ul {
    display: inline-block;
    padding: 0;
    line-height: normal;
    vertical-align: top;
    list-style: none;
    li {
      display: inline-block;
      line-height: normal;
      vertical-align: top;
      a {
        height: auto;
        line-height: normal;
        &:hover {
          color: #FFF !important;
        }
      }
    }
  }
}
/* End */

.entry-meta {
  padding: 0;
  .edit-link {
    a.post-edit-link {
      display: none;
    }
  }
}

/* Upload photo page */
.topmargin-upload {
  .nextclass {
    margin-left: 221px;
    .btn {
      min-height: 42px;
      min-width: 176px;
      margin-top: 13px;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .container {
    .wpb_row {
      margin-bottom: 0 !important;
    }
  }
  .mythumb {
    .mythumb_cls {
      display: inline-block;
      width: 100%;
      li {
        img {
          max-width: 150px;
        }
      }
    }
  }
}
.nlcls {
  .nextclass {
    .btn {
      min-width: 203px;
      margin-top: 13px;
    }
  }
}
.frcls {
  .nextclass {
    .btn {
      min-width: 272px;
    }
  }
}
.topmargin-price {
  margin-top: 30px;
  .mbgcolr1 {
    .topmargin4 {
      margin-top: 52px;
      text-align: center;
      .orr {
        padding: 0;
      }
      a {
        .btn {
          white-space: normal;
        }
      }
    }
  }
  #secondary {
    margin: 0;
    .togocls {
      width: 100%;
      margin: 20px 0 10px;
      padding: 0;
    }
    .ready {
      margin: 0 0 10px;
      .topmargin {
        margin: 0;
        .btn {
          padding: 5px 10px;
          border: 1px solid $red-dark;
          white-space: normal;
        }
      }
    }
    .row-link {
      .deletlink {
        a {
          &:hover {
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.tunnelicon {
  .tunnel-iconimg {
    min-height: 115px;
    text-align: center;
  }
}
.tunnel {
  .col-lg-3.col-md-3 {
    text-align: center;
  }
}

.topmargin-price #secondary .border-bot3.mainlink {
  margin-bottom: 50px;
  margin-left: 0;
}
/* End */

/* Cart page */
#text-12 {
  width: 100%;
  .credit_sidebar_cart {
    width: 25%;
  }
  .sidebar-cart {
    padding-top: 20px;
    .cart-empty {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.credit_sidebar_cart {
  .checkout-button {
    text-align: center;
  }
}
.site-main .page .entry-content {
  padding-top: 0;
}
.entry-content {
  .loop-area {
    .btnclass.mybtncls {
      left: 50%;
      margin-left: -65px;
      input {
        width: 130px;
        white-space: normal;
      }
    }
  }
}
/* End */

/* My account page */
#customer_login {
  .custom-myaccount-wording {
    margin-top: 30px;
    color: $black;
    font-size: 16px;
    font-weight: bold;
  }
}

/* Checkout rightsidebar */
#order_review {
  .payment_methods {
    li {
      text-align: left;
      &.payment_method_paypal {
        margin-bottom: 7px;
      }
      &.payment_method_twocheckout img {
        margin-top: 7px;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"] + label {
        &::before {
          margin-top: 4px;
        }
      }
      .about_paypal {
        margin-left: 7px;
      }
    }
  }
}


/**
 * Search page
 */
#secondary {
  .topmargin {
    .msearchbtn {
      margin-bottom: 20px;
    }
  }
}


/**
 * Customer detail
 */
.customer_details {
  tbody {
    tr {
      border-bottom: 2px solid #E2E2E2;
      th {
        border-bottom: none;
      }
      td {
        float: right;
      }
    }
  }
}


/**
 * Change font family
 */
h1.cg-page-title,
.content-area table.shop_table thead tr th,
.yith-wcwl-add-to-wishlist a,
.woocommerce-tabs .tabs li a,
.woocommerce-page .content-area form fieldset legend {
  font-family: Verdana,Geneva,sans-serif;
}
.ls-slide,
.ls-slide h1,
.qq-upload-button input[type="file"],
.cg-primary-menu .menu > li > a,
.cart_subtotal .amount {
  font-family: Verdana, Geneva ,sans-serif !important;
}
.product-title-wrapper,
.product-page-title,
body.single-product .product-title-wrapper {
  background-color: #1D76BD !important;
}


/**
 * Responsive design
 */
/* Large desktop monitor view */
@media screen and (min-width:1600px) {
  .container {
    max-width: 1470px;
  }
  /* Home page example section */
  .exampimage {
    height: 400px !important;
    width: 600px;
  }
  .exampimage .bx-viewport {
    height: 400px !important;
    width: 600px !important;
  }
  .mbx-pager {
    float: right;
    width: 830px;
  }
  .mbx-pager ul.bx_pager_ul li {
    height: 130px;
    width: 195px;
  }
  .mbx-pager ul.bx_pager_ul li img {
    height: 100%;
  }
  .mbx-pager ul.bx_pager_ul li .resize img {
    height: auto;
  }
  /* End */
}


/* Small desktop monitor view */
@media screen and (max-width: 1200px) {

} /* 1200px */

/* Tablet and i-pad landscape & portrait view */
@media screen and (max-width: 1024px) {

} /* 1024px */

/* Tablet and i-pad portrait view only */
@media screen and (max-width: 992px) {

} /* 992px */

/* Mobile landscape & portrait view */
@media screen and (max-width: 767px) {

} /* 767px */

/* Mobile portrait view only */
@media screen and (max-width: 480px) {

} /* 480px */
